__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
/data/*
/tmp/*

.venv/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/

# pytest cache
.pytest_cache/

# HuggingFace cache
hf-cache/

# VSCode & IDEs
.vscode/
.idea/